<div class="panel-textoCursos" id="{{id}}">
    <h2>CURSO {{nivel}}: <br>{{titulo}}</h2>
</div>

<div class="panel-textoParrafoCS">
    <p>{{descripcion}}</p>
</div>

<div class="curso-container">
    <div class="cardCS">
        <img src="{{imagen}}" alt="Curso {{nivel}}">
    </div>
    <div class="panel-textoPrecio">
        <h2>{{precio}}</h2>
    </div>
</div>