<div class="contenedor-imagen">
    <div class="panel-textoSubT">
        <p>
            <strong>{{titulo}}</strong><br>
            <strong>Fecha:</strong> {{fecha}}<br>
            <strong>Ubicación:</strong> {{ubicacion}}
        </p>
    </div>
    <div class="cardE">
        <img src="{{imagen}}" alt="{{titulo}}">
    </div>
</div>