<div class="item-galeria {{tipo}}">
    <img src="{{src}}" alt="{{alt}}">
    <div class="pie-de-foto">
        <div class="titulo-foto">{{titulo}}</div>
        <p class="descripcion-foto">{{descripcion}}</p>
    </div>
</div>