<div class="cardRamos">
    <img src="{{imagen}}" alt="{{nombre}}">
    <h3>{{nombre}}</h3>
    <p>{{descripcion}}</p>
    <div class="precio">Lps.{{precio}}</div>
    <a href="formulariocompra.html" class="btn-comprar">Comprar</a>
</div>