<div class="cardPyO {{#if programa}}programa{{/if}}" id="{{id}}">
    {{#if programa}}<div class="etiqueta-programa">PROGRAMA</div>{{/if}}
    
    <h3>{{titulo}}</h3>
    <img src="{{imagen}}" alt="{{titulo}}">
    <p class="descripcion">{{descripcion}}</p>
</div>